Flask==0.10.1
Flask-Login==0.2.11
Flask-SQLAlchemy==1.0
Flask-WTF==0.10.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.7
WTForms==2.0.1
Werkzeug==0.9.6
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
itsdangerous==0.24
mercurial==3.0.1
psycopg2==2.5.3
pyscrypt==1.5.0
requests==2.3.0
tornado==4.0
wsgiref==0.1.2
