{% extends "layout.html" %}
{% block content %}
  {% from "forms/macros.html" import render_field %}
  <div class="container yellow">
    <div class="row top">
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-2">
        <h2>Log in with Stellar</h2>
      </div>
    </div>
    <div class="row">
      <form method="post" role="form" class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-2">
        {{ form.csrf_token }}
        <div class="form-group" >
          {{ render_field(form.username, class="form-control") }}
        </div>
        <div class="form-group ">
          {{ render_field(form.password, class="form-control") }}
        </div>
        <div class="form-group ">
          <input type="submit" value="Log in" class="form-control">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
