extends layout

block content
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js', type='text/javascript')
  script(src='http://localhost:5000/static/js/astral.js', type='text/javascript')
  script.
    Astral = new Astral('PF6Kez/fmer2eAq+CZrqjxF02P1mDXXYxgN9PRHp5V4=')
  div.
    <h1>Demo shopping cart site- buy credits</h1>
    <a href="/buy">...or buy a shiny trinket</a>

    <h3>Shopping Cart</h3>
    <div>
      <ul>
        <li>$20 Gift Card</li>
      </ul>
    </div>
    <button id='paywith'>Pay with Astral</button>
  script.
    $('#paywith').click(function(){
      Astral.buyAstralGiftCard('3')
    })
