extends layout

block content
  div.
    <h3 style="color:red">Payment received- Shiny Trinket is now yours!</h3>
    <h1>Demo shopping cart site</h1>

    <h3>Shopping Cart</h3>
    <div>
      <ul>
        <li>$20 Gift Card</li>
      </ul>
    </div>
