extends layout

block content
  div.
    <h3 style="color:red">Payment received- Shiny Trinket is now yours!</h3>
    <a target="_new" href="https://www.stellar.org/viewer/#live/">Check your balance</a><br />
    <a href="/">Buy another gift card</a>
    <h1>Demo shopping cart site</h1>

    <h3>Shopping Cart</h3>
    <div>
      <ul>
        <li>$20 Gift Card</li>
      </ul>
    </div>
