{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Integrating with Astral</h1>
      <h4>Include this script on your web page:</h4>
      <pre>&lt;script src="https://www.astralproject.us/static/js/astral.js" type="text/javascript"&gt;&lt;/script&gt;'<br />&lt;script&gt;<br />  Astral = new Astral('{{g.user.authToken if g.user else "AUTH_TOKEN"}}');<br />&lt;/script&gt;</pre>
      <h4>Call this after someone has bought a gift card:</h4>
      <pre>Astral.buAstralGiftCard('<kbd>CARD_ID</kbd>')</pre>
      Where <code>CARD_ID</code> is your gift card's ID.
      <h4>Call this when someone is paying with a gift card:</h4>
      <pre>Astral.payWithAstral('<kbd>PRICE</kbd>')</pre>
        Where <code>PRICE</code> is their purchase amount in USD. For example, <kbd>20</kbd>.
    </div>
  </div>
</div>
{% endblock %}
