{% extends "layout.html" %}
{% block content %}
<section id="landing">
  <div class="container" id="hero-container">
    <div class="row">
      <div class="hero-text col-xs-8 col-sm-6 col-md-6">
        <h1>Accept Stellar and make gift cards</h1>
        <h3>Turn your online store into a Stellar gateway</h3>
        <p class="button-group">
        <a href="#explain-section" class="btn btn-primary click-scroll" id="btn-learn-more">Learn more</a>
        <a href="signin" class="btn" id="btn-sign-up">Sign in</a>
        </p>
      </div>

      <div class="image col-xs-4 col-sm-6 col-md-6">
        Do it
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
{% endblock %}
