{% extends "layout.html" %}
{% block content %}
<div class="container" id="hero-container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron" style="text-align: center">
        <h1>Simple Stellar-backed Gift Cards</h1>
        <p>Add a gift card program to your website in 15 minutes.</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/login" role="button">Log in with Stellar</a>
          <a class="btn btn-primary btn-lg" href="http://localhost:3000/" role="button">See a demo</a>
        </p>
      </div>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
{% endblock %}
