{% extends "layout.html" %}
{% block content %}
<section id="landing">
  <div class="container" id="hero-container">
    <div class="row">
      <div class="jumbotron" style="text-align: center">
        <h1>Accept Stellar and Issue Gift Cards</h1>
        <p>Easily turn your website into a Stellar gateway.</p>
        <p><a class="btn btn-primary btn-lg" href="/login" role="button">Log in with Stellar</a></p>
      </div>
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
{% endblock %}
